@font-face {
  font-family: 'Noto Sans CJK TC';
  src: url('../static/fonts/noto/NotoSansCJKtc-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

$font-primary:
  'Noto Sans CJK TC', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-secondary: $font-primary;
$font-size-base: 0.875rem;
