
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import '~font-awesome/scss/font-awesome';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.title-line::after {
    position: absolute;
    content: "";
}
.cursor-pointer:hover {
    cursor: pointer;
}

.card .close {
    right: 0.5rem;
    top: -2px;
    font-size: 40px;
    z-index: 2;
}

.material-switch > {
    label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
        &::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }
        &::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }
    }
    input[type="checkbox"]:checked + label {
        &::before {
            background: inherit;
            opacity: 0.5;
        }
        &::after {
            background: inherit;
            left: 20px;
        }
    }
}

/* Custom Font Size */
$MAX_COUSTOM_FONT: 80;
$MIN_COUSTOM_FONT: 8;
@mixin font-size-list {
  @for $i from $MIN_COUSTOM_FONT through $MAX_COUSTOM_FONT {
    .font-size-#{$i} {
      font-size: #{$i}px
    }
  }
}
@include font-size-list;

.bg-flat-color-1 {background: #20a8d8};
.bg-flat-color-2 {background: #63c2de};
.bg-flat-color-3 {background: #ffc107};
.bg-flat-color-4 {background: #f86c6b};
.bg-flat-color-5 {background: #4dbd74};


.transition {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

body {
    background: $container-bg;
    display: table;
    font-family: 'Open Sans' sans-serif !important;
    font-size: 16px;
    width: 100%
}

p {
    font-size: 16px;
    font-family: 'Open Sans' sans-serif;
    font-weight: 400;
    line-height: 24px;
    color: #878787;
}
p:focus {
    border: none;
    outline: 0;
}
a, button {
    text-decoration: none;
    outline: none!important;
    color: #878787;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;

}
a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}


/* Main Styles */
aside.left-panel {
    background: $menu-bg;
    display: table-cell;
    height: 100vh;
    min-height: 100%;
    padding: 0 25px;
    vertical-align: top;
    width: 280px;
    transition: width 0.3s ease;
}

.navbar {
    background: $menu-bg;
    border-radius: 0;
    border: none;
    display: block;
    margin: 0;
    margin-bottom: 100px;
    padding: 0;

    .navbar-header {
        float: none;
        text-align: center;
        width: 100%;
    }
    .navbar-brand {
        border-bottom: 1px solid $primary;
        color: $primary;
        font-family: 'Open Sans';
        font-size: 22px;
        float: none;
        line-height: 50px;
        margin: 0;
        text-align: left;
        text-transform: capitalize;
        display: block;
        min-height: 69px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        span {
            font-weight: 600;
        }
        img {
            max-height: 50px;
        }
        &.hidden {
            display: none;
        }
    }

    .menu-title {
        border-bottom: 1px solid #4e4e52;
        color: #9496a1;
        clear: both;
        display: block;
        font-family: 'Open Sans';
        font-size: 14px;
        font-weight: 700;
        line-height: 50px;
        padding: 15px 0 0 0;
        text-transform: uppercase;
        width: 100%;
    }
    .navbar-nav {
        float: none;
        position: relative;
        li {
            width: 100%;
            &.active .menu-icon,
            &:hover .toggle_nav_button:before,
            .toggle_nav_button.nav-open:before {
                color: $light-coffee;
            }
            .dropdown-toggle:after {
                display: none;
            }
            >a {
                background: none !important;
                color: $primary;
                display: inline-block;
                font-family: 'Open Sans';
                font-size: 14px;
                line-height: 30px;
                padding: 10px 0 0 0;
                position: relative;
                width: 100%;
                .menu-icon {
                    color: $primary;
                    float: left;
                    margin-top: 8px;
                    width: 55px;
                    text-align: left;
                    z-index: 9;
                }
                .menu-title-text {
                    font-size: 14px;
                }
                .badge {
                    border-radius: 0;
                    font-family: 'Open Sans';
                    font-weight: 600;
                    float: right;
                    margin: 6px 0 0 0;
                    padding: 0.4em 0.5em;
                }
            }
            &.menu-item-has-children {
                position: relative;
                a {
                    line-height: 30px;
                    &:before {
                        content: "\f105";
                        color: $primary;
                        font-family: 'Fontawesome';
                        font-size: 16px;
                        position: absolute;
                        top: 10px;
                        right: 0;
                        text-align: right;

                        -webkit-transition: all .25s ease;
                        -moz-transition: all .25s ease;
                        -ms-transition: all .25s ease;
                        -o-transition: all .25s ease;
                        transition: all .25s ease;
                    }
                }
                .sub-menu {
                    background: $menu-bg;
                    border: none;
                    box-shadow: none;
                    overflow-y: hidden;
                    padding: 0 0 0 35px;
                    li {
                        position: relative;
                        &:hover {
                            i {
                                color: $light-coffee;
                            }
                        }
                    }
                    i {
                        color: $primary;
                        float: left;
                        padding: 0;
                        position: absolute;
                        left: 0;
                        font-size: 14px;
                        top: 9px;
                    }
                    a {
                        padding: 2px 0 2px 30px;
                        &:before {
                            content: '';
                            display: none;
                        }
                        &:hover {
                            color: $light-coffee
                        }
                        .menu-icon {
                            top: 13px;
                            text-align: left;
                            width: 25px;
                        }
                    }
                }
                &.show {
                    a:before {
                        content: "\f107";
                    }
                    .sub-menu {
                        max-height: 1000px;
                        opacity: 1;
                        position: static !important;
                    }
                }
            }
        }
    }
}
.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
    color: #d7d9e3 !important;
}
.navbar-nav li span.count {
    background: #a9d86e;
    border-radius: 50%;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 9px;
    font-weight: 700;
    float: right;
    height: 20px;
    width: 20px;
    line-height: 20px;
    margin-right: 15px;
    text-align: center;
}
body.open {
    .navbar {
        .navbar-brand {
            &.hidden {
                display: block;
            }
        }
    }
}
.open aside.left-panel {
    max-width: 70px;
    width: 70px;
    .navbar {
        .navbar-brand {
            display: none;
            &.hidden {
                display: flex !important;
                justify-content: center;
                align-items: center;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
                img {
                    max-width: 30px;
                    margin: 0 auto;
                }
            }
            &.d-md-none {
                display: block !important;
                margin: 13px 0 0;
                min-height: 67px;
                padding: 0;
                text-align: center;
            }
        }
        .navbar-nav {
            &:before {
                display: none !important;
            }
            li {
                position: relative;
                a {
                    font-size: 0;
                    z-index: 0;
                    transition: none;
                    .menu-icon {
                        font-size: 20px;
                        z-index: -1;
                        width: inherit;
                    }
                    .menu-title-text {
                        font-size: 0;
                    }
                    .badge {
                        display: none;
                    }
                }
                >a {
                    max-width: 60px;
                    padding-left: 0;
                }
                &.menu-item-has-children {
                    overflow: hidden;
                    a {
                        &:before {
                            content: '';
                            display: none;
                        }
                    }
                    ul {
                        padding-left: 0;
                    }
                    .sub-menu {
                        display: block;
                        left: inherit;
                        right: -180px;
                        top: 0;
                        li {
                            a {
                                display: block;
                                font-size: 14px;
                                max-width: inherit;
                                padding: 2px 15px 2px 25px;
                                width: 100%;
                                .menu-icon {
                                    text-align: center;
                                }
                            }
                        }
                    }
                    &.show {
                        overflow: visible;
                        .sub-menu {
                            position: absolute !important;
                        }
                    }
                }
                span.count {
                    display: none;
                    margin-right: 5px;
                    z-index: 1;
                }
                &.active {
                    a:after {
                        content: '';
                        display: none;
                    }
                }
            }
            .menu-title {
                font-size: 0;
                line-height: 0;
                opacity: 0;
                padding: 0;
            }
        }
    }
}

/* Right panel */

.right-panel {
    display: table-cell;
    padding-left: 0 !important;

    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -ms-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;
}
.right-panel header.header {
    background: $header-bg;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    clear: both;
    display: inline-block;
    padding: 15px 20px 13px 20px;
    width: 100%;
}
.open .right-panel {
    margin-left: -210px;
}
.menutoggle {
    cursor: pointer;
    font-size: 18px;
    height: 43px;
    line-height: 44px;
    text-align: center;
}

.dropdown-menu {
    border-radius: 0;
    transform: none !important;
}

.content {
    float: left;
    padding: 0 20px;
    width: 100%;
}




// Responsive Styles

@media (max-width: 1368px) {
    .content {
        padding: 0 15px;
    }
}

@media (max-width: 1024px) {
    aside.left-panel {
        padding: 0 20px;
        width: 200px;
    }
    .navbar .navbar-nav li > a .menu-icon {
        width: 30px;
    }
    .navbar .navbar-nav li.menu-item-has-children .sub-menu {
        padding: 0 0 0 30px;
    }
    .navbar .navbar-nav li.menu-item-has-children .sub-menu a {
        padding: 2px 0 2px 25px;
    }
}

@media (max-width: 575.99px) {
    body {
        display: block;
    }
    aside.left-panel {
        display: block;
        height: auto;
        min-height: inherit;
        padding: 0 15px;
        width: 100%;
        .navbar {
            margin-bottom: 0;
            .navbar-header {
                height: 50px;
            }
            .navbar-brand {
                border-bottom: none;
                display: inline-block;
                float: left;
                line-height: 1;
                margin-top: 11px;
                min-height: inherit;
                &.hidden {
                    display: none;
                }
            }
            .navbar-toggler {
                float: right;
                margin-top: 8px;
            }
            .navbar-nav li {
                > a {
                    padding: 5px 0;
                }
                &.menu-item-has-children a:before {
                    top: 5px;
                }
            }
            .menu-title {
                line-height: 30px;
                padding: 0;
            }
        }
    }
    .menutoggle {
        display: none;
    }
    .right-panel {
        display: block;
        header.header {
            padding: 5px 10px 1px 5px;
            div[class*="col"] {
                padding: 0;
                width: initial;
            }
            .col-sm-7 {
                float: left;
            }
            .col-sm-5 {
                float: right;
            }
        }
        .content {
            padding: 0 10px;
        }
    }
}
